# VS artifacts
.vs/
*.aps
*.cache
*.db
*.exe
*.hint
*.ilk
*.ipch
*.log
*.obj
*.opensdf
*.ncb
*.pch
*.pdb
*.sdf
*.suo
*.tlog
*.user
*.VC.db
*.VC.VC.opendb

# Build folders
[Bb]uild/
[Dd]ebug*/
[Rr]elease*/

# CMake files
CMakeCache.txt
CMakeFiles/